.casella{

	width:80px;
	height:80px;
	background-color: #008CBA;
	font-size:50px;
	border: none;
	color:white;

}

tr{
	
	background-color:#9989a4;
	
}

table{
	
	margin-left:300px;
	
}

#gioco{
	
	float:left;
	
}
#punteggio{
	
	font-family:verdana;
	
}

#punteggi{

	margin-right:240px;
	float:right;
	display:none;
	
}

#displayandbutton{
	
	margin-left:300px;
	width:250px;
	display:none;
	
}

#result{
	
	font-size:30px;
	font-family:verdana;
	text-align:center;
	width:70px;
	float:left;
	
}

#resetta{
	
	width:100px;
	height:50px;
	float:right;
	margin-top:20px;
	
}

form{
	
	font-family:verdana;
	width:320px;
	margin-left:350px;
	
}

form #start{
	
	width:70px;
	height:50px;
	font-size:20px;
	
}